.left-sidebar {
  @extend %margin-bottom-lg;

  .panel:last-child {
    margin-bottom: 0;
  }
}

.vertical-slider {
  overflow: hidden;

  border-radius: 4px;
  &__image {
    width: 100%;
  }
}

.user-login {
  position: relative;

  &__tabs {
    position: absolute;
    top: 0;
    right: $gap;

    margin-right: -5px;

    border: none;

    a {
      padding: 14px 5px 11px !important;

      color: $color-gray;
      border: none !important;
      background-color: transparent !important;
    }
    .active a {
      color: $color-light !important;
    }
  }
}

$image-size: 75px;
$image-size-with-padding: $image-size + 10px;
