html {
  overflow-y: scroll;

  font-size: $font-size;
}

body {
  font-family: $font-main;
  font-size: $font-size;
}

a {
  color: $color-primary;

  &:hover,
  &:focus {
    text-decoration: none;

    color: $color-accent;
  }
}

h1 {
  margin: (-$gap / 2) 0 ($gap * 3);

  font-family: $font-header;
  font-size: 3rem;

  @include xs {
    margin: 0 0 30px;

    font-size: 2rem;
  }


  &::after {
    position: absolute;

    width: 100%;
    margin: 0.85em 0 0 15px;

    content: "";

    border-bottom: 3px solid lighten($color-accent, 30%);
  }
}

h2 {
  font-family: $font-header;

  @include xs {
    margin: 45px 0 30px 45px;

    font-size: 1.75rem;
  }
  @include xs-min {
    margin: 60px 0 45px 45px;

    font-size: 2.5rem;
  }

  &::before {
    position: absolute;
    left: 0;

    width: $gap * 2;
    margin: 0.25em 0 0 0;

    content: "";

    border-bottom: 3px solid lighten($color-accent, 25%);
  }

  &::after {
    position: absolute;

    width: 100%;
    margin: 0.85em 0 0 15px;

    content: "";

    border-bottom: 3px solid lighten($color-accent, 25%);
  }
}

h3 {
  @include xs {
    font-size: 1.25rem;
  }
}

section {
  position: relative;

  overflow: hidden;
}
